<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Combinations">
  <meta name="author" content="Yichen">
  <title>Image Classifier</title>


  <style>
    td {
      padding: 5px;
      text-align: center;
    }
  </style>


</head>
<body>
  <section>
    <h5 >Please input your image</h5>
      <div>
        <p><span></span></p>
        <form method="POST" enctype="multipart/form-data" action="/">
          <input type="file" name="photo" />
          <input type="submit" />
        </form>
      <div>
  </section>

</body>
</html>
