<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Combinations">
  <meta name="author" content="Yichen">
  <title>Image Classifier</title>


  <style>
    td {
      padding: 5px;
      text-align: center;
    }
  </style>


</head>
<body>
  <section>
    <h5 >Please input your image</h5>
      <div>
        <p><span></span></p>
        <form action="/upload" method="post" id="upload-form">
          <input type="file" name="imagefile" id="imagefile"/>
          <input type="submit"/>
        </form>
      <div>
  </section>
  <script>
      submit = function(){
        image=$("#imagefile")
    	  $.post({
    	    url: "/upload",
          contentType:"image/png",
          data:image
          success: function(result){
  		       $(".hidden").css("display","inline").html("Result is " + result.pred);
           }
        });
    	}
    </script>
</body>
</html>
